.grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 10% 5% 70% 5% 10%;
  background-color: black;
  height: 100vh;
  
}
.header {
  /* antal rows = 5, antal columns = 3 */
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #f49948;
  text-align: center;
}
.logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 2;
  text-align: center;
  margin-top: 1em;
}
#logo {
  border-radius: 50%;
  border: black;
  border-style: solid;
}
.earsTop {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: #f49948;
  background-image: url("images/spacertop.png");
  background-repeat: repeat-x;
}
.earsBottom {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  background-color: #ffb26e;
  background-image: url("images/spacer.png");
  background-repeat: repeat-x;
}

.sidebar {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  color: white;
  background-color: #e57b1d;
  min-width: fit-content;
  text-align: center;
}
.menuContent {
  margin-top: 10em;
  display: inline-block;
  text-align: left;
}
.contentBody {
  background-color: #ffb26e;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end:4;
  color: black;
  contain:content;
  overflow-y:auto;
  z-index:2;
  
}



.content {
  z-index: 2;
  background-color: #ffe8ad;
  
  margin: 1em;
  border-radius: 1em;
  contain:content;
  margin-right: 25%;
  
}

/* Här formateras sidans visade innehåll */
.pageContent {
  margin: 1em;
  text-align:left;
 
}
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 20px;
  
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b05a0d; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #e57b1d;
}
.footer {
  background-color: #b05a0d;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
  text-align: center;
  display: inline-block;
  contain: content;
}
html,
body {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.h1,
a {
  color: black;
  font: bold;
}
a:hover {
  color: blue;
}
#oldies {
  border-radius: 30%;
  border: black;
  border-style: solid;
}
.p {
  padding: 0;
  margin: 0;
}
.footertemplate {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: max-content;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.footergrid1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 2;
  contain: content;
  display: grid;
}
.imagecontainerfooter {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 50%;
  display: grid;
  
}
#footerimage {
  height: 100%;
  width: 100%;
  
}
.image1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 50px;
  width: 50px;
  content: contain;
  margin: auto 10px auto auto;
}
.image2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 50px;
  width: 50px;
  float: right;
  content: contain;
  margin: auto auto auto 10px;
}
.image3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 50px;
  width: 50px;
  content: contain;
  margin: auto 10px auto auto;
}
.image4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 50px;
  width: 50px;
  content: contain;
  margin: auto auto auto 10px;
}
.footergrid2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 2;
}
.footergrid3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 2;
}
.footergrid4 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 2;
}

/* Formulär */
form {
  text-align:left;
}
input[type=text], select, textarea {
  width: 90%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;  
}
#message, #childdescription, #parentdescription {
  height: 150px;
}
#reason, #birthyear {
  width:32%;
  text-align:left;
  font-size: 20px;
}

#sendform, #addfile  {
  float:right;
  margin: 0 7% ; 
}
/* Slut på formulär */

/* personell.html */
.personnelContact1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display:grid;
}
.personnelContact2 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  display:grid;
}
#personnelImages {
  width: 250px;
  height:250px; 
  border: 2px solid black;
  border-radius:25%;
}
#personnelFigure1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
#personnelFigure2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
#personnelFigure3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
#personnelFigure4 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
#personnelFigure5 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
#personnelFigure6 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
/* slut på personnel.html */