.grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 10% 5% 70% 5% 10%;
  background-color: #8b9dc3;
  height: 100vh;
  overflow-y: scroll;
}
.header {
  /* antal rows = 5, antal columns = 3 */
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #be7d03;
  text-align:center;
  
}
.logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index:2;
  text-align:center;
  margin-top:1em;
}
#logo {
  border-radius: 50%;
  border:black;
  border-style:solid;
}
.earsTop {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: rgb(12, 7, 78);
  background-image: url("images/spacertop.png");
  background-repeat:repeat-x;
}
.earsBottom {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  background-color: rgb(12, 7, 78);
  background-image: url("images/spacer.png");
  background-repeat:repeat-x;
}

.sidebar {
  
  grid-column:1;
  grid-row-start: 2;
  grid-row-end: 5;
  color: white;
  background-color: rgb(252, 182, 54);
  min-width: fit-content;
  text-align:center;
}
.menuContent {
  margin-top: 4em;
  display: inline-block;
  text-align:left;
}
.contentBody {
  background-color: #ffffff;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column: 2;
  color: black;
}
.content {
  z-index: 2;
  background-color: blue;
  display: grid; 
  margin: 1em;
  border-radius: 1em;
}

/* Här formateras sidans visade innehåll */
.pageContent {
  margin-left:1em;
}


.footer {
  background-color: #f37500;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
}
html, body {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.h1, a {
  color: black;
  font: bold;
}
a:hover {
  color:blue;
}
#oldies {
  border-radius: 30%;
  border:black;
  border-style:solid;
}
