.grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 10% 5% 70% 5% 10%;
  background-color: black;
  height: 100vh;
}
li {
  color: black;
}
.header {
  /* antal rows = 5, antal columns = 3 */
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #f49948;
  text-align: center;
}
.logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 2;
  text-align: center;
  margin-top: 1em;
}

#kiguFrontPic {
  height: 600px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#logo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: black;
  border-style: solid;
}
.earsTop {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: #f49948;
  background-image: url("images/spacertop.png");
  background-repeat: repeat-x;
}
.earsBottom {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  background-color: #ffb26e;
  background-image: url("images/spacer.png");
  background-repeat: repeat-x;
}

.sidebar {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  color: white;
  background-color: #e57b1d;
  min-width: fit-content;
  text-align: left;
}
.menuContent {
  margin-top: 10em;
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}
.contentBody {
  background-color: #ffb26e;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  color: black;
  contain: content;
  overflow-y: auto;
  z-index: 2;
}

.content {
  z-index: 2;
  background-color: #ffe8ad;

  margin: 1em;
  border-radius: 1em;
  contain: content;
  margin-right: 25%;
}

/* Här formateras sidans visade innehåll */
.pageContent {
  margin: 1em;
  text-align: left;
}
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b05a0d;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e57b1d;
}
.footer {
  background-color: #b05a0d;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
  text-align: center;
  display: inline-block;
  contain: content;
}
html,
body {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.h1,
a {
  color: black;
  font: bold;
}

a:hover {
  color: blue;
}

#oldies {
  border-radius: 30%;
  border: black;
  border-style: solid;
}
.p {
  padding: 0;
  margin: 0;
}
.footertemplate {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: max-content;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.footergrid1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 2;
  contain: content;
  display: grid;
}
.imagecontainerfooter {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 50%;
  display: grid;
}
.footerimage {
  height: 100%;
  width: 100%;
}
.image1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 50px;
  width: 50px;

  margin: auto 10px auto auto;
}
.image2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 50px;
  width: 50px;
  float: right;

  margin: auto auto auto 10px;
}
.image3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 50px;
  width: 50px;

  margin: auto 10px auto auto;
}
.image4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 50px;
  width: 50px;

  margin: auto auto auto 10px;
}
.footergrid2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 2;
}
.footergrid3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 2;
}
.footergrid4 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 2;
}

/* Formulär */
form {
  text-align: left;
}
input[type="text"],
select,
textarea {
  width: 90%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
#message,
#childdescription,
#parentdescription {
  height: 150px;
}
#reason,
#birthyear {
  width: 32%;
  text-align: left;
  font-size: 20px;
}

#sendform,
#addfile {
  float: right;
  margin: 0 7%;
}
/* Slut på formulär */

/* personell.html */
.personnelWrapper {
  text-align: center;
}
.personnelContact1 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
}
.personnelContact2 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  display: grid;
}
.personnelImages {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  border-radius: 25%;
}
.personnelFigure1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.personnelFigure2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.personnelFigure3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.personnelFigure4 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.personnelFigure5 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.personnelFigure6 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
/* slut på personnel.html */

/* Dialas sidor */
#vår-skola {
  float: right;
  padding: 6px;
  width: 290px;
  height: 220px;
  border-radius: 10%;
}

#text-vårskola {
  text-align: justify;
}
#klassrum {
  float: right;
  width: 290px;
  height: 220px;
  border-radius: 10%;
}
.div.morgallery {
  border: 10px solid #ccc;
  float: left;
  width: 150px;
}
.div.morgallery img {
  margin: 5px 5px 10px 5px;
  width: 100%;
  height: auto;
}
div.bisk {
  padding: 15px;
  text-align: left;
}
.mortext {
  padding: 5px;
}
#dir {
  border: 1px solid orange;
  border-radius: 10px;
  bottom: 10%;
  padding: 5px;
  width: 150px;
  float: right;
}
.för-row {
  box-sizing: border-box;
}
.för-column {
  float: left;
  width: 30%;
  padding: 5px;
}
.för-column img {
  border-radius: 10%;
}
.för-row::after {
  content: "";
  clear: both;
  display: table;
}
#eftermid {
  width: 300px;
  height: 200px;
  border: 15px solid coral;
  animation: mymove 5s infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hälsa {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hälsa {
  width: 300px;
  height: 200px;
  border: 15px solid coral;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {
    border: 15px solid rgb(238, 186, 42);
  }
}
/* slut på Dialas sidor */

/*Ricas kod*/

.info-title {
  text-align: center;
  padding: 20px;
}

.parents-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto auto;
  padding: 20px;
  gap: 3px;
}

.info-details {
  display: grid;
  gap: 2px;
  border: solid 2px;
  padding: 20px;
  transition: ease-in-out background-color 300ms;
}

.info-details:hover {
  background-color: #e57b1d;
}

.laroplan-article {
  display: grid;
  grid-auto-rows: auto;
}

.laroplan-title {
  text-align: center;
}

.laroplan-img-container {
  display: grid;
  align-items: center;
  justify-items: center;
}

.laroplan-img {
  width: 300px;
  border-radius: 100px;
}

.laroplan-text {
  display: grid;
}

.laroplan-button-container {
  display: grid;
  justify-items: center;
}

.laroplan-button {
  border: #b05a0d 2px;
  background-color: #ffc999;
  color: black;
  text-decoration: none;
  margin: auto auto;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  transition: ease-in-out all 300ms;
}
.laroplan-button:hover {
  background-color: #e57b1d;
  color: white;
}

.button-text {
  text-align: center;
}

.personal-article {
  display: grid;
  grid-auto-rows: auto;
}

.picture-container {
  display: grid;
  align-items: center;
  justify-items: center;
}

.personal-picture {
  width: 350px;
  border-radius: 50px;
}

.personal-title {
  display: grid;
  text-align: center;
}

text-container {
  display: grid;
  text-align: center;
}

/*slut på Ricas kod*/
/* Rojhats kod */
.textbackgroundFood {
  background-color: wheat;
}
.covidpicclass {
  color: #111;
  border-radius: 50%;
  text-align: center;
  font-size: 90px;
  float: left;
  shape-outside: ellipse();
  padding: 10px;
}
span {
  padding-top: 60px;
  display: inline-block;
}
#covidText {
  word-wrap: normal;
}
#kiguImageFood {
  width: 800px;
  height: 500px;
  margin: auto auto auto 100px;
  border-radius: 20%;
  border: solid 2px black;
}
#covidKidImage {
  width: 400px;
  height: 250px;
  border-radius: 50%;
}
#newsHeader {
  text-align: center;
} /* Grid template systemet för aktuella sidan */
.contentgridtemplate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  contain: content;
  height: 100%;
  width: 100%;
}
.contentgrid1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-left: 15px;

  contain: content;
}
.contentgrid2 {
  grid-row: 2;
  grid-column-start: 1;

  contain: content;
}
.contentgrid3 {
  grid-row: 2;
  grid-column-start: 2;
  contain: content;
}
.contentgrid4 {
  grid-column-start: 2;
  grid-column-end: 2;
  contain: content;
  text-align: left;
}
#tänk {
  text-align: center;
}
#matschema {
  text-align: center;
}
.parent {
  width: 300px;

  margin: 0 auto;
}
#form_login {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#kiguFrontPic {
  height: 600px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#logo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: black;
  border-style: solid;
}
.contentgrid5 {
  z-index: 2;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  border-right: 2px solid;
}
.contentgrid6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  contain: content;
}
.contentgrid7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  contain: content;
  height: 100%;
}
.lineLamp {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 1rem;
}

/* Bild formatet för aktuella hemsidan */
#bentobox {
  border-radius: 20%;
  height: 200px;
  width: 400px;
  margin: 20px auto auto 40px;
}
#bentobox2 {
  border-radius: 20%;
  height: 200px;
  width: 400px;
  margin: 20px auto auto 50px;
}
.employeesCenterd {
  align-items: center;
}

/*Rojhats kod */
