.card-container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 2px 16px;
  justify-items: center;
 gap: 40px;
}

.card {
  display: grid;
  padding: 20px;
  justify-items: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card img {
  width: 200px;
}



.title {
  text-align: center;
  margin: 20px;
  padding-bottom: 20px;
}